# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# dependencies
node_modules/

# Expo
.expo/
dist/
web-build/

# Native
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*

# debug
npm-debug.*

# macOS
.DS_Store

# local env files
.env
.env.*

# IDE
.idea/
.vscode/
*.swp
*.swo
